.SideDrawer {
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 300;
  background-color: white;
  padding: 16px 8px;
  box-sizing: border-box;
  transition: transform 0.2s ease-out;
}
@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
  .SideDrawerBackdrop {
    display: none;
  }
}
.Show {
  transform: translateX(0);
}
.Hide {
  transform: translateX(-100%);
}
.SideDrawerLogo {
  height: 11%;
  padding-bottom: 15px;
}
