.OrderSummary {
  z-index: 300;
}
.Order li {
  list-style-type: none;
  width: 90%;
}
.OrderName {
  float: left;
  text-transform: capitalize;
}
.OrderValue {
  display: block;
  text-align: right;
}
